#текст для .env файлу, який .gitignore ігнорує, щоб не зберігати конфіденційні дані в репозиторії. Залишаю це для вас, щоб ви могли 
#налаштувати свої власні параметри підключення до бази даних.
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nbu_db
DB_USER=admin
DB_PASSWORD=admin